:root {
	--font-0: Sen;
	--font-1: Roboto;
	--black-0: #10131b;
	--black-0-text: #eee;
	--black-1: #25272e;
	--black-1-text: #eee;
	--black-2: #3a3c43;
	--black-2-text: #eee;
	--black-3: #515359;
	--black-3-text: #eee;
	--black-4: #696b70;
	--black-4-text: #eee;
	--black-5: #828388;
	--black-5-text: #333;
	--black-6: #9c9da0;
	--black-6-text: #333;
	--black-7: #b7b7ba;
	--black-7-text: #333;
	--black-8: #d2d2d3;
	--black-8-text: #333;
	--black-9: #eeeeee;
	--black-9-text: #333;
	--white-0: #ffffff;
	--white-0-text: #333;
	--white-1: #f8f8f9;
	--white-1-text: #333;
	--white-2: #f0f1f2;
	--white-2-text: #333;
	--white-3: #e9ebec;
	--white-3-text: #333;
	--white-4: #e1e4e6;
	--white-4-text: #333;
	--white-5: #dadde0;
	--white-5-text: #333;
	--white-6: #d3d7d9;
	--white-6-text: #333;
	--white-7: #cbd0d3;
	--white-7-text: #333;
	--white-8: #c4cacd;
	--white-8-text: #333;
	--white-9: #bdc3c7;
	--white-9-text: #333;
	--primary-0: #4bcffa;
	--primary-0-text: #333;
	--primary-1: #22b7e1;
	--primary-1-text: #333;
	--primary-2: #00a0c9;
	--primary-2-text: #333;
	--primary-3: #0089b1;
	--primary-3-text: #eee;
	--primary-4: #00739a;
	--primary-4-text: #eee;
	--primary-5: #005d83;
	--primary-5-text: #eee;
	--primary-6: #00496d;
	--primary-6-text: #eee;
	--primary-7: #003558;
	--primary-7-text: #eee;
	--primary-8: #002343;
	--primary-8-text: #eee;
	--primary-9: #000000;
	--primary-9-text: #eee;
	--secondary-0: #fd7272;
	--secondary-0-text: #333;
	--secondary-1: #e65e60;
	--secondary-1-text: #333;
	--secondary-2: #d04a4f;
	--secondary-2-text: #eee;
	--secondary-3: #ba363e;
	--secondary-3-text: #eee;
	--secondary-4: #a41f2e;
	--secondary-4-text: #eee;
	--secondary-5: #8e001f;
	--secondary-5-text: #eee;
	--secondary-6: #790011;
	--secondary-6-text: #eee;
	--secondary-7: #640000;
	--secondary-7-text: #eee;
	--secondary-8: #500000;
	--secondary-8-text: #eee;
	--secondary-9: #000000;
	--secondary-9-text: #eee;
	--magic-0: #9b59b6;
	--magic-0-text: #eee;
	--magic-1: #8c4ba7;
	--magic-1-text: #eee;
	--magic-2: #7e3e99;
	--magic-2-text: #eee;
	--magic-3: #6f308a;
	--magic-3-text: #eee;
	--magic-4: #61227c;
	--magic-4-text: #eee;
	--magic-5: #53146e;
	--magic-5-text: #eee;
	--magic-6: #450261;
	--magic-6-text: #eee;
	--magic-7: #370053;
	--magic-7-text: #eee;
	--magic-8: #2a0046;
	--magic-8-text: #eee;
	--magic-9: #000000;
	--magic-9-text: #eee;
	--success-0: #4cd137;
	--success-0-text: #333;
	--success-1: #2cba1c;
	--success-1-text: #333;
	--success-2: #00a300;
	--success-2-text: #333;
	--success-3: #008c00;
	--success-3-text: #eee;
	--success-4: #007600;
	--success-4-text: #eee;
	--success-5: #006000;
	--success-5-text: #eee;
	--success-6: #004b00;
	--success-6-text: #eee;
	--success-7: #003700;
	--success-7-text: #eee;
	--success-8: #002900;
	--success-8-text: #eee;
	--success-9: #000000;
	--success-9-text: #eee;
	--warning-0: #e67e22;
	--warning-0-text: #333;
	--warning-1: #d06c08;
	--warning-1-text: #333;
	--warning-2: #ba5a00;
	--warning-2-text: #eee;
	--warning-3: #a44900;
	--warning-3-text: #eee;
	--warning-4: #8f3700;
	--warning-4-text: #eee;
	--warning-5: #7b2600;
	--warning-5-text: #eee;
	--warning-6: #681300;
	--warning-6-text: #eee;
	--warning-7: #570000;
	--warning-7-text: #eee;
	--warning-8: #480000;
	--warning-8-text: #eee;
	--warning-9: #000000;
	--warning-9-text: #eee;
	--danger-0: #d63031;
	--danger-0-text: #eee;
	--danger-1: #c51b25;
	--danger-1-text: #eee;
	--danger-2: #b4001a;
	--danger-2-text: #eee;
	--danger-3: #a3000f;
	--danger-3-text: #eee;
	--danger-4: #930001;
	--danger-4-text: #eee;
	--danger-5: #830000;
	--danger-5-text: #eee;
	--danger-6: #730000;
	--danger-6-text: #eee;
	--danger-7: #640000;
	--danger-7-text: #eee;
	--danger-8: #560000;
	--danger-8-text: #eee;
	--danger-9: #000000;
	--danger-9-text: #eee;
	--hr: #828388;
}
