// load vars
@import './src/font';
@import './src/breakpoints';

// load styles
@import './src/_normalize';
@import './src/_typography';
@import './color-pallete.scss';

// GLOBALS
:global(hr) {
	border: none;
	border-bottom: 2px solid var(--hr);
}

:global(.italic) {
	font-style: italic;
}

:global(.bold) {
	font-weight: 700;
}

:global(.semi-bold) {
	font-weight: 600;
}
